.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  max-width: 1200px;
}

.header_container{
	margin-bottom: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header_container h1{
	font-size: 48px;
  font-weight: bold;
}


.header_container h1 span{
	background: linear-gradient(140deg, rgba(54,190,255,1) 0%, rgba(115,63,241,1) 100%);
	background-clip: text;
	color: transparent;
}

.header_container p{
	font-size: 18px;
  font-weight: bold;
}